#button{
    color: white;
    background: green;
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 4px;

}



#container{
    display:flex; 
    justify-content:center; 
    align-items:center;
}

#container header
h1{
color: blue;
text-align: center;
}

#content{
    background-color: gray;
    color: white;
    padding: 16px;
}

p {
  font-family: verdana;
  font-size: 20px;

}
